/*----------------------------------------


Universal Styling


-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}
@font-face {
  font-family: 'bluehonest';
  src: url('../fonts/bluehonest.ttf')format('truetype');
}
h1{
  font-family: 'bluehonest';
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: .5rem
}
h2{
  color: pink;
  margin-bottom: 10px;
  text-align: left
}
p{
  color: black;
  line-height: 1.5em;
  font-family: 'Raleway' , sans-serif;
  font-size: 16px;
  margin: 20px 0;
  }
li a{
  color: lightpink;
  line-height: 1.5em;
  font-family: 'Raleway' , sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
}
.placesvisited li a{
  line-height: 2.5em;
}
/*----------------------------------------


Header Styling


-----------------------------------------*/
header{
  position: fixed;
  width: 100%;
  top: 0;
  background: pink;
  padding: 1rem;
  text-align: center;
  z-index: 99;
}
header ul li{
  display: inline-block;
  width: 400px;
}
nav a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  color: black;
  transition: 1s;
}

/*----------------------------------------


Body Styling


-----------------------------------------*/
main.container{
  max-width: 800px;
  margin: 0 auto;
  height: 1200px;
  padding: 6rem;
  padding-top: 180px;
  background-color: white;
  border: 3px solid lightblue;
  display: block;
}
section{
  margin: 10px 0px;
}
body{
  background-image: url('../image/background-pattern.png');
  background-repeat: repeat;
}
span{
  font-weight: bold;
}
div.vanessa img {
  width: 220px;
  float: left;
  margin: 0 30px 20px 0;
  border-radius: 20px;
  padding: 8px;
}
/*----------------------------------------


Positioning Styling for music festival


-----------------------------------------*/
.text-image-container{
  position: relative;
}

.text-container{
  position: absolute;
  top: 30px;
  left: 50px;
}
/*----------------------------------------


placesvisited Styling


-----------------------------------------*/
.placesvisited ul{
  text-align: left;
}
.animation{
  position: relative;
}
.placesvisited{
  position: absolute;
  top: -400px;
  left: 650px;
}
/*----------------------------------------


Animation Styling


-----------------------------------------*/
.sky,
.road{
  position: relative;
}
.sky{
  height:250px;
  width: 600px;
  background: skyblue;
}
.airplane{
  height: 60px;
  width: 100px;
  position: absolute;
  top: 75px;
  left: 500px;
  animation: fly 4s forwards 4 linear reverse;
}
.road{
  height:100px;
  width: 600px;
  background: dimgray;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width 100%
  box-sizing: border-box;
}
.lines{
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%
}
.van{
  width:175px;
  height: 125px;
  position: absolute;
  top: -40px;
  left: 0px;
  animation: drive 10s forwards 4 linear;
}

@keyframes drive {
  from{
    transform: translateX(-10px);
  }
  to{
    transform: translateX(400px);
  }
}

@keyframes fly {
  from{
    transform: translateX(-400px);
  }
  to{
    transform: translateX(50px);
  }
}
/*----------------------------------------


Footer Styling


-----------------------------------------*/
footer{
  background: pink;
  text-align: center;
  margin; 10px;
  color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
}
