/*----------------------------------------


Index.html Page Styling


-----------------------------------------*/
@font-face {
  font-family: 'bluehonest';
  src: url('../fonts/bluehonest.ttf')format('truetype');
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

header{
  background: pink;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

main{
  background-color: white;
  max-width: 1000px;
  height: 800px;
  margin: 0 auto;
  padding: 6rem;
  padding-top: 180px;
  border: 3px solid lightblue;
  display: block;
}

li{
  display: inline-block;
  width: 400px;
}

h1{
  font-family: 'bluehonest';
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  letter-spacing: .5rem

}
h2{
  color: pink;
}

p{
  color: black;
  line-height: 1.5em;
  font-family: 'Raleway' , sans-serif;
  font-size: 16px;
  margin: 20px 0;
  }

body{
  background-image: url('../image/background-pattern.png');
  background-repeat: repeat;
}

img {
  width: 220px;
  float: left;
  margin: 0 30px 20px 0;
  border-radius: 20px;
  padding: 8px;
}

footer{
  background: pink;
  text-align: center;
  margin; 10px;
  color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
}

span{
  font-weight: bold;
}
